*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        135deg,
        #0f0f0f,
        #1a1a1a,
        #2d1b00
    );
}

.container{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 420px;
    padding: 30px;
    text-align: center;
    border-radius: 30px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(20px);
    border:2px solid rgba(255, 165, 0, 0.4);
    box-shadow: 
    0 0 20px orange,
    0 0 50px rgba(255, 165, 0, 0.5);
}

.logo{
    width: 220px;
    margin-bottom: 10px;
}

.tagline{
    color: orange;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.girl{
    width: 220px;
    margin-bottom: 20px;
    transition: 0.5px;
}

.girl:hover{
    transform: scale(1.05);
}
h1{
    color: #ffffff;
    margin-bottom: 20px;
}

input{
    width: 100% ;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.08);
    color: #ffffff;
    outline: none;
}

button{
    width: 100px;
    padding: 15px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background: 
    linear-gradient(
        90deg,
        orange,
        gold
    );
    transition: 0.4s;
}

button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px orange;
    
}